<div class="container">
    <div class="info">
      <div class="teclas">
        <div class="teclado">
          <div class="tecla">W</div>
        </div>

        <div class="teclado">
          <div class="tecla">A</div>
          <div class="tecla">S</div>
          <div class="tecla">D</div>
        </div>
      </div>
    </div>

    <div class="game">
      <canvas #game class="canvas" width="750" height="500"></canvas>
    </div>

    <div class="info">
      <div class="teclas">
        <div class="teclado">
          <div class="tecla">&uarr;</div>
        </div>

        <div class="teclado">
          <div class="tecla">&larr;</div>
          <div class="tecla">&darr;</div>
          <div class="tecla">&rarr;</div>
        </div>
      </div>
    </div>
  </div>
