.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.game {
  padding: 5px;
  background-color: white;
}

.game canvas {
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width:100%;
  justify-content: flex-end;
}

.controls canvas {
  display: none;
  background-color: rgba(255, 255, 255, 0.226);
  width: 100%;
  border-radius: 100px;
}

.teclado {
  display: flex;
  justify-content: center;
}
.tecla {
  width: 30px;
  height: 30px;
  align-items: center;
  border: solid 0.5px;
  background-color: white;
}

.canvas {
  border: solid;
  background-color: white;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-content-question {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pergunta {
  font-weight: bold;
}

.card {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.play {
  height: 50px;
  width: 150px;
  border: solid 0.5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play:hover {
  background-color: blue;
  color: white;
}

@media(max-width:915px) {
  .controls canvas {
    display: flex;
  }

  .info {
    display: none;
  }
}
